// portfolio colors

$bgblack: #121214;
$gray: #1d1d1f;
$lightergray: #343336;
$lightgray: #E2E2E2;
$purple: #5A66FF;
$white: #FFFFFF;
$whitegradient: linear-gradient(180deg, rgba(230,230,230,1) 0%, rgba(255,255,255,1) 100%);

// logbook colors

$primarygreen: #128360;
$secondarygreen: #2CBA8D;
$tertiarygreen: #DDF2EC;
$primarygray: #727D83;
$secondarygray: #B9C3C9;
$tertiarygray: #E5ECF0;
$primaryyellow: #FFC16B;
$secondaryyellow: #FFCF8C;
$primaryred: #FF4848;
$secondaryred: #FFE0E0;
