@media only screen and (max-width: 1600px) {

    html {
        font-size: 52.5%;
    }
  }

  @media only screen and (max-width: 1200px) {

    html {
        font-size: 45.5%;
    }
  }

  @media only screen and (max-width: 1000px) {

    html {
        font-size: 40.5%;
    }
  }
