@font-face {
  font-family: 'Bison';
  src: url(fonts/Bison-Bold.ttf);
}

@font-face {
  font-family: Bison-ThickOutline;
  src: url(fonts/Bison-ThickOutline.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}

*::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

html {
  font-family: 'Cairo', sans-serif;
  color: #1d1d1f;
  font-size: 62.5%;
}

a,
a:visited {
  color: inherit;
}

h1 {
  line-height: 1.2;
}

header {
  width: 100vw;
  padding: 1.6rem 0;
  background-color: #1d1d1f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-container {
  width: 85%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-container .navigation-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  font-size: 2.6rem;
  font-family: 'bison';
  gap: 3rem;
}

header .header-container .navigation-bar li {
  position: relative;
  list-style-type: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .header-container .navigation-bar li::after {
  content: '';
  width: 2rem;
  height: 2px;
  background-color: #5A66FF;
  position: absolute;
  bottom: -.3rem;
  left: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}

header .header-container .navigation-bar li:hover::after {
  background-color: #FFFFFF;
  width: 100%;
}

header .header-container .navigation-bar li a {
  cursor: crosshair;
}

header .header-container img {
  width: 3rem;
}

header .mobile-version {
  display: none;
}

.white-square-animation {
  position: absolute;
  top: 0;
  left: 0;
  width: 200rem;
  height: 200rem;
  background-color: #121214;
  -webkit-animation: siteReveal 1s forwards;
          animation: siteReveal 1s forwards;
}

@-webkit-keyframes siteReveal {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-200rem);
            transform: translateX(-200rem);
  }
}

@keyframes siteReveal {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-200rem);
            transform: translateX(-200rem);
  }
}

.hero {
  width: 120rem;
  height: auto;
  margin: 16rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero .hero-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
}

.hero .hero-img .img1, .hero .hero-img .img2 {
  width: 50%;
}

.hero .description {
  width: 30%;
  margin-left: 2rem;
  color: #727D83;
}

.hero .description .logo {
  width: 16rem;
}

.hero .description p {
  font-size: 2.2rem;
  line-height: 1.4;
  margin: 4rem 0;
}

.hero .description ul {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 2.2rem;
}

.project-description {
  width: 100rem;
  height: auto;
  margin: 16rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project-description .description h1 {
  font-size: 4rem;
  color: #128360;
}

.project-description .description p {
  font-size: 2.2rem;
  line-height: 1.4;
  color: #727D83;
  margin-bottom: 4rem;
}

.project-description .logo-simbolo {
  width: 10rem;
  margin: 6rem 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.project-description .abordagem h1 {
  font-size: 4rem;
  color: #128360;
}

.project-description .abordagem p {
  font-size: 2.2rem;
  line-height: 1.4;
  color: #727D83;
  margin-bottom: 4rem;
}

.project-description .abordagem .abordagem-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 4rem;
}

.project-description .abordagem .abordagem-cards img {
  width: 45%;
}

.pesquisa {
  width: 100rem;
  height: auto;
  margin: 16rem auto;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: reveal 1s forwards;
          animation: reveal 1s forwards;
}

.pesquisa h1 {
  font-size: 4rem;
  color: #128360;
  margin-top: 4rem;
}

.pesquisa p {
  font-size: 2.2rem;
  line-height: 1.4;
  color: #727D83;
  margin-bottom: 2rem;
}

.pesquisa img {
  width: 100%;
}

.pesquisa h2 {
  font-size: 6rem;
  color: #2CBA8D;
  line-height: 1.2;
  text-align: center;
  margin: 24rem 0;
}

.pesquisa h2 span {
  color: #128360;
}

.pesquisa .benchmark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pesquisa .benchmark h1 {
  font-size: 4rem;
  color: #128360;
  margin-top: 4rem;
}

.pesquisa .benchmark img {
  width: 15rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 2rem 0;
}

.pesquisa .benchmark p {
  font-size: 2.2rem;
  line-height: 1.4;
  color: #727D83;
  margin: 2rem 0;
}

.pesquisa .benchmark .benchmark-card {
  border: 1px #E5ECF0 solid;
  border-radius: 1rem 1rem 1rem 0rem;
  -webkit-box-shadow: -6px 6px 0px 0px #e5ecf0;
          box-shadow: -6px 6px 0px 0px #e5ecf0;
  padding: 1rem 2rem 1rem 2rem;
  margin-top: 2rem;
}

.pesquisa .benchmark .benchmark-card h3 {
  font-size: 3rem;
  line-height: 1.4;
  color: #128360;
}

.pesquisa .benchmark .benchmark-card span {
  font-size: 2rem;
  font-weight: bold;
  color: #727D83;
}

.pesquisa .benchmark .benchmark-card ul {
  font-size: 2rem;
  list-style-type: disc;
  margin-left: 3rem;
  color: #727D83;
}

.pesquisa-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.entrevistas {
  width: 100rem;
  height: auto;
  margin: 16rem auto;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: reveal 1s forwards;
          animation: reveal 1s forwards;
}

.entrevistas h1 {
  font-size: 4rem;
  color: #128360;
}

.entrevistas .usuarios {
  width: 48rem;
  margin: 2rem auto;
}

.entrevistas p {
  font-size: 2.2rem;
  line-height: 1.4;
  color: #727D83;
  margin: 2rem 0;
}

.entrevistas h3 {
  font-size: 3rem;
  line-height: 1.4;
  color: #128360;
  margin: 2rem 0;
}

.entrevistas ul {
  font-size: 2.2rem;
  list-style-type: none;
  color: #727D83;
}

.entrevistas-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.personas {
  width: 100vw;
  display: none;
  height: auto;
  padding: 5rem;
  background-color: #E5ECF0;
  -webkit-animation: reveal 1s forwards;
          animation: reveal 1s forwards;
}

.personas .slider {
  width: 80rem;
  height: 80rem;
  margin: auto;
  background: white;
  border-radius: 2rem 2rem 2rem 0rem;
  -webkit-box-shadow: 1px 10px 75px -20px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 10px 75px -20px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  position: relative;
  z-index: 100;
}

.personas .slider .slides {
  width: 500%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.personas .slider .slides input {
  display: none;
  z-index: 100;
}

.personas .slider .slides .slide {
  width: 20%;
  -webkit-transition: 1s;
  transition: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5rem;
}

.personas .slider .slides .slide img {
  width: auto;
  height: 100%;
}

.personas .slider .slides #radio1:checked ~ .first {
  margin-left: 0;
}

.personas .slider .slides #radio2:checked ~ .first {
  margin-left: -20%;
}

.personas .slider .slides #radio3:checked ~ .first {
  margin-left: -40%;
}

.personas .slider .slides #radio4:checked ~ .first {
  margin-left: -60%;
}

.personas .slider .slides #radio5:checked ~ .first {
  margin-left: -80%;
}

.personas .slider .slides .navigation-auto {
  position: absolute;
  bottom: 3rem;
  left: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.personas .slider .slides .navigation-auto div {
  border: none;
  background: #E2E2E2;
  padding: 5px;
  -webkit-transition: 1s;
  transition: 1s;
}

.personas .slider .slides .navigation-auto div:not(:last-child) {
  margin-right: 2.6rem;
}

.personas .slider .slides #radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #128360;
}

.personas .slider .slides #radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #128360;
}

.personas .slider .slides #radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #128360;
}

.personas .slider .slides #radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #128360;
}

.personas .slider .slides #radio5:checked ~ .navigation-auto .auto-btn5 {
  background: #128360;
}

.personas .slider .slides .auto-btn1, .personas .slider .slides .auto-btn2, .personas .slider .slides .auto-btn3, .personas .slider .slides .auto-btn4, .personas .slider .slides .auto-btn5 {
  cursor: crosshair;
}

.personas-desire {
  width: 60%;
  margin: auto;
  display: none;
  position: relative;
}

.personas-desire::after {
  content: '';
  height: 100%;
  width: 2px;
  background-color: #E5ECF0;
  position: absolute;
  top: 0;
  left: -4rem;
}

.personas-desire h2 {
  font-size: 4rem;
  margin: 12rem auto;
  color: #2CBA8D;
}

.personas-desire h2 span {
  color: #128360;
}

.personas-active {
  display: block;
}

.personas-desires-active {
  display: block;
}

.ideacao {
  width: 100rem;
  height: auto;
  margin: 16rem auto 0rem auto;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-animation: reveal 1s forwards;
          animation: reveal 1s forwards;
}

.ideacao h1 {
  font-size: 4rem;
  color: #128360;
}

.ideacao h1:not(:first-child) {
  margin-top: 6rem;
}

.ideacao p {
  font-size: 2.2rem;
  line-height: 1.4;
  color: #727D83;
  margin: 2rem 0;
}

.ideacao img {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 2rem;
}

.ideacao .storyboard-1, .ideacao .storyboard-2, .ideacao .storyboard-4 {
  width: 56rem;
}

.ideacao .sketch {
  width: 100%;
  margin-top: 4rem;
}

.ideacao .wireframes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80rem;
  margin: 4rem auto;
}

.ideacao .wireframes .button {
  border: 1px #E5ECF0 solid;
  border-radius: 1rem 1rem 1rem 0rem;
  -webkit-box-shadow: -6px 6px 0px 0px #e5ecf0;
          box-shadow: -6px 6px 0px 0px #e5ecf0;
  padding: 2rem;
  margin: 2rem;
  -webkit-transition: .4s;
  transition: .4s;
  position: relative;
}

.ideacao .wireframes .button:first-child::before {
  content: 'Aluno';
  position: absolute;
  font-size: 3rem;
  color: #727D83;
  font-weight: bold;
  top: -5rem;
}

.ideacao .wireframes .button:last-child::before {
  content: 'Professor';
  position: absolute;
  font-size: 3rem;
  color: #727D83;
  font-weight: bold;
  top: -5rem;
}

.ideacao .wireframes .button:hover {
  -webkit-box-shadow: -6px 6px 0px 0px #128360;
          box-shadow: -6px 6px 0px 0px #128360;
}

.ideacao .wireframes .button img {
  width: 100%;
  margin-bottom: 0;
}

.ideacao-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.prototipo {
  width: 100vw;
  background-color: #E5ECF0;
  height: auto;
  padding: 3rem 0rem;
  text-align: center;
  display: none;
  -webkit-animation: reveal 1s forwards;
          animation: reveal 1s forwards;
}

.prototipo h1 {
  font-size: 4rem;
  color: #128360;
  margin-top: 4rem;
}

.prototipo h3 {
  font-size: 3rem;
  margin-top: 4rem;
  color: #727D83;
}

.prototipo .protrow1, .prototipo .protrow2, .prototipo .protrow3, .prototipo .protrow4, .prototipo .protrow5, .prototipo .protrow6, .prototipo .protrow7, .prototipo .protrow8 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0em 2rem 0em;
  position: relative;
}

.prototipo .protrow1 .phonescreen, .prototipo .protrow2 .phonescreen, .prototipo .protrow3 .phonescreen, .prototipo .protrow4 .phonescreen, .prototipo .protrow5 .phonescreen, .prototipo .protrow6 .phonescreen, .prototipo .protrow7 .phonescreen, .prototipo .protrow8 .phonescreen {
  height: 50.8rem;
  width: 25.2rem;
  background-color: #FFFFFF;
  overflow: hidden;
  -webkit-box-shadow: -7px 7px 7px 1px rgba(0, 0, 0, 0.1);
          box-shadow: -7px 7px 7px 1px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  margin: 2.5rem;
}

.prototipo .protrow1 .cefr, .prototipo .protrow2 .cefr, .prototipo .protrow3 .cefr, .prototipo .protrow4 .cefr, .prototipo .protrow5 .cefr, .prototipo .protrow6 .cefr, .prototipo .protrow7 .cefr, .prototipo .protrow8 .cefr {
  height: 36rem;
  width: 62rem;
  padding: 3rem;
  border-radius: 2rem;
  background-color: #FFFFFF;
}

.prototipo .protcolumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.prototipo .protcolumn .desktop {
  width: 80rem;
  height: auto;
  margin-top: 2rem;
  border-radius: 1rem;
  background-color: #FFFFFF;
  overflow: hidden;
  -webkit-box-shadow: -7px 7px 7px 1px rgba(0, 0, 0, 0.1);
          box-shadow: -7px 7px 7px 1px rgba(0, 0, 0, 0.1);
}

.prototipo .protcolumn .desktop img {
  width: 100%;
}

.prototipo-active {
  display: block;
}

.teste-usabilidade {
  width: 100rem;
  height: auto;
  margin: 16rem auto;
  display: none;
  -webkit-animation: reveal 1s forwards;
          animation: reveal 1s forwards;
}

.teste-usabilidade h1 {
  font-size: 4rem;
  color: #128360;
  margin-top: 4rem;
}

.teste-usabilidade p {
  font-size: 2.2rem;
  line-height: 1.4;
  color: #727D83;
  margin: 2rem auto;
}

.teste-usabilidade .benchmark-card {
  border: 1px #E5ECF0 solid;
  border-radius: 1rem 1rem 1rem 0rem;
  -webkit-box-shadow: -6px 6px 0px 0px #e5ecf0;
          box-shadow: -6px 6px 0px 0px #e5ecf0;
  padding: 3rem;
  margin-top: 2rem;
}

.teste-usabilidade .benchmark-card span {
  font-size: 2rem;
  font-weight: bold;
  color: #727D83;
}

.teste-usabilidade .benchmark-card ul {
  font-size: 2rem;
  list-style-type: disc;
  margin-left: 3rem;
  color: #727D83;
}

.teste-usabilidade-active {
  display: block;
}

.ui {
  width: 100rem;
  height: auto;
  margin: 16rem auto;
  position: relative;
  display: none;
  -webkit-animation: reveal 1s forwards;
          animation: reveal 1s forwards;
}

.ui h1 {
  font-size: 4rem;
  color: #128360;
  margin-top: 8rem;
}

.ui p {
  font-size: 2.2rem;
  line-height: 1.4;
  color: #727D83;
  margin: 2rem auto;
}

.ui .moodboard {
  width: 100%;
}

.ui .smartphone {
  position: absolute;
  top: 5%;
  left: -36rem;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
  width: 30rem;
}

.ui .notebook {
  position: absolute;
  top: 5%;
  right: -40rem;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  width: 40rem;
}

.ui .mockup {
  width: 100%;
}

.bottom-draw {
  width: 80%;
  margin: auto;
}

.bottom-draw .personagens {
  width: 100%;
}

.ui-active {
  display: block;
}

.final {
  width: 100rem;
  height: auto;
  margin: 16rem auto;
}

.final h1 {
  font-size: 4rem;
  color: #128360;
}

.final p {
  font-size: 2.2rem;
  line-height: 1.4;
  color: #727D83;
  margin-bottom: 4rem;
}

.toggle {
  width: 100vw;
  height: 8rem;
  background-color: #128360;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
  border-bottom: 1px #2CBA8D solid;
}

.toggle:hover {
  background-color: #2CBA8D;
}

.toggle .fas {
  font-size: 2rem;
  margin-left: 1rem;
  -webkit-transform: translateY(0.4rem);
          transform: translateY(0.4rem);
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.toggle .fas-active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@-webkit-keyframes reveal {
  0% {
    opacity: 0;
  }
  10% {
    -webkit-transform: translateY(50rem);
            transform: translateY(50rem);
  }
  95% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }
  10% {
    -webkit-transform: translateY(50rem);
            transform: translateY(50rem);
  }
  95% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0rem);
            transform: translateY(0rem);
  }
}

@media only screen and (max-width: 1600px) {
  html {
    font-size: 52.5%;
  }
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 45.5%;
  }
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 42.5%;
  }
}

@media only screen and (max-width: 800px) {
  header {
    padding: 3rem 0;
  }
  header .header-container .navigation-bar {
    font-size: 4rem;
    gap: 5rem;
  }
  header .header-container img {
    width: 5rem;
  }
  .hero {
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .hero .hero-img {
    width: 90%;
    margin: auto;
    margin-top: 4rem;
  }
  .hero .hero-img .img1 {
    width: 50%;
  }
  .hero .hero-img .img2 {
    width: 50%;
  }
  .hero .description {
    width: 100%;
    margin-left: 0;
  }
}

@media only screen and (max-width: 680px) {
  header {
    padding: 2rem 0;
    position: fixed;
    top: 0;
    z-index: 120;
  }
  header .header-container {
    display: none;
  }
  header .mobile-version {
    width: 86%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .mobile-version .hamburger {
    width: 4.6rem;
    height: 2.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 101;
  }
  header .mobile-version .hamburger .line {
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  header .mobile-version .hamburger .line1 {
    width: 50%;
  }
  header .mobile-version .hamburger .line3 {
    width: 50%;
  }
  header .mobile-version .hamburger-close .line1 {
    -webkit-transform: translateX(-12rem);
            transform: translateX(-12rem);
  }
  header .mobile-version .hamburger-close .line2 {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  header .mobile-version .hamburger-close .line3 {
    -webkit-transform: rotate(-45deg) translate(6px, -6px);
            transform: rotate(-45deg) translate(6px, -6px);
    width: 100%;
  }
  header .mobile-version a {
    z-index: 101;
  }
  header .mobile-version a img {
    width: 3.8rem;
  }
  header .mobile-version .mobile-menu {
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 100vw;
    background: #1d1d1f;
    padding: 5rem;
    -webkit-transition: .4s;
    transition: .4s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #FFFFFF;
    z-index: 100;
  }
  header .mobile-version .mobile-menu .mobile-navigation-bar li {
    font-size: 6rem;
    font-family: 'bison';
    position: relative;
    margin-bottom: 2rem;
    list-style: none;
  }
  header .mobile-version .mobile-menu .mobile-navigation-bar li::before {
    content: '';
    width: 3rem;
    height: 2px;
    background-color: #5A66FF;
    position: absolute;
    bottom: 0rem;
    left: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  header .mobile-version .mobile-menu .mobile-navigation-bar li:hover {
    color: #5A66FF;
  }
  header .mobile-version .mobile-menu .mobile-navigation-bar li:hover::after {
    background-color: #FFFFFF;
  }
  header .mobile-version .mobile-menu h3 {
    font-size: 6rem;
    font-family: 'Bison';
    margin: 6rem 0 0 0;
    border-top: 2px #343336 solid;
    position: relative;
  }
  header .mobile-version .mobile-menu h3::before {
    content: '';
    width: 3rem;
    height: 2px;
    background-color: #5A66FF;
    position: absolute;
    bottom: -1rem;
    left: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  header .mobile-version .mobile-menu h3 span {
    color: #5A66FF;
  }
  header .mobile-version .mobile-menu img {
    margin-top: 2rem;
    width: 75%;
  }
  header .mobile-version .mobile-menu .social-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: initial;
    padding: 0;
    gap: 4rem;
    margin-top: 6rem;
  }
  header .mobile-version .mobile-menu .social-icons a i {
    font-size: 3.8rem;
  }
  header .mobile-version .mobile-menu-active {
    left: 0%;
  }
  .hero {
    width: 90%;
  }
  .hero .description .logo {
    width: 35%;
  }
  .hero .description p {
    font-size: 2.6rem;
  }
  .hero .description ul {
    font-size: 2.6rem;
    margin-left: 4rem;
  }
  .hero .hero-img .img1 {
    width: 90%;
  }
  .hero .hero-img .img2 {
    display: none;
  }
  .project-description {
    width: 90%;
  }
  .project-description .abordagem .abordagem-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .project-description .abordagem .abordagem-cards img {
    width: 90%;
  }
  .pesquisa {
    width: 90%;
  }
  .pesquisa h2 {
    font-size: 4rem;
  }
  .entrevistas {
    width: 90%;
  }
  .personas {
    width: 100%;
    padding: 0;
  }
  .personas .slider {
    width: 100%;
    height: 100%;
    padding-top: 3rem;
  }
  .personas .slider .slides .navigation-auto {
    bottom: initial;
    top: 3rem;
    left: 34%;
  }
  .personas .slider .slides .slide {
    padding: 0;
  }
  .personas-desire {
    width: 80%;
  }
  .personas-desire h2 {
    font-size: 3rem;
  }
  .ideacao {
    width: 90%;
  }
  .ideacao .storyboard-1, .ideacao .storyboard-2, .ideacao .storyboard-3, .ideacao .storyboard-4, .ideacao .storyboard-5 {
    width: 90%;
  }
  .ideacao .wireframes {
    width: 75%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ideacao .wireframes .button {
    padding: 2rem;
    margin: 4rem 0;
  }
  .prototipo .protcolumn .desktop {
    width: 90%;
  }
  .teste-usabilidade {
    width: 90%;
  }
  .ui {
    width: 90%;
  }
  .ui .moodboard-container .smartphone {
    display: none;
  }
  .ui .moodboard-container .notebook {
    display: none;
  }
  .final {
    width: 90%;
    margin: 8rem auto;
  }
  .bottom-draw {
    width: 100%;
  }
}

.stickhome img {
  width: 4em;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0em;
  right: 4%;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: crosshair;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FFFFFF;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #128360;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/*# sourceMappingURL=main.css.map */