@font-face {
    font-family: 'Bison';
    src: url(fonts/Bison-Bold.ttf);

  }

  @font-face {

    font-family: Bison-ThickOutline;
    src: url(fonts/Bison-ThickOutline.ttf);
  }

  @import 'helpers/colors';
  @import 'helpers/globals';
  @import 'components/header';
  @import 'components/hero';
  @import 'components/project-description';
  @import 'components/pesquisa';
  @import 'components/entrevistas';
  @import 'components/personas';
  @import 'components/ideacao';
  @import 'components/prototipo';
  @import 'components/teste-usabilidade';
  @import 'components/ui';
  @import 'components/final';
  @import 'buttons-toggles/buttons-toggles';
  @import 'helpers/mediaqueries';


  // to-the-top icon

  .stickhome img{
        
    width: 4em;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0em;
    right: 4%;
    transition:1s;
    cursor: crosshair;

}


    //scroll bar

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $white; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: $primarygreen; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
