.toggle {
    width: 100vw;
    height: 8rem;
    background-color: $primarygreen;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
    transition: .4s;
    border-bottom: 1px $secondarygreen solid;

    &:hover {

        background-color: $secondarygreen;
    }

    .fas {
        font-size: 2rem;
        margin-left: 1rem;
        transform: translateY(.4rem);
        transition: all .4s ease-in-out;
    }

    .fas-active {
        transform: rotate(180deg);
    }
}

@keyframes reveal {

    0%   {opacity:0;}
    10%  {transform: translateY(50rem);}
    95% {opacity:1;}
    100%  {transform: translateY(0rem);}
}

  // to-the-top icon

  .stickhome img{
        
    width: 4em;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0em;
    right: 4%;
    transition:1s;
    border-radius: 10rem;
    box-shadow: 0px 4px 10px -7px rgba(0,0,0,1);
    z-index: 100;
    cursor: crosshair;
}
