.pesquisa {

    width: 100rem;
    height: auto;
    margin: 8rem auto;
    display: none;
    flex-direction: column;
    animation: reveal 1s forwards;
    

    h1 {

        font-size: 4rem;
        margin-bottom: 1rem;
        color: $primarygreen;
        margin-top: 4rem;
    }

    p {
        font-size: 2.2rem;
        line-height: 1.4;
        color: $primarygray;
        margin-bottom: 2rem;
    }

    img {

        width: 100%;
    }

    h2 {

        font-size: 6rem;
        color: $secondarygreen;
        line-height: 1.2;
        text-align: center;
        margin: 24rem 0;

        span {

            color: $primarygreen;
        }
    }

    .benchmark{
        display: flex;
        flex-direction: column;
        

        h1 {

            font-size: 4rem;
            color: $primarygreen;
            margin-top: 4rem;

        }

        img {

            width: 15rem;
            align-self: center;
            margin: 2rem 0 ;
        }

        p {
            font-size: 2.2rem;
            line-height: 1.4;
            color: $primarygray;
            margin: 2rem 0;

        }

        .benchmark-card {
            border: 1px $tertiarygray solid;
            border-radius: 1rem 1rem 1rem 0rem;
            box-shadow: -6px 6px 0px 0px rgba(229,236,240,1);
            padding: 1rem 2rem 1rem 2rem;
            margin-top: 2rem;
    

            h3 {
                font-size: 3rem;
                line-height: 1.4;
                color: $primarygreen;
            }

            span {
                font-size: 2rem;
                font-weight: bold;
                color: $primarygray;
            }

            ul {
                font-size: 2rem;
                list-style-type: disc;
                margin-left: 3rem;
                color: $primarygray;
            }
        }
    }
}

.pesquisa-active {

    display: flex;
}